package views

templ AllNotes(notes []Note) {
    <section id="pricing" class="sectionSizeNotes bg-[#EFF6F6]">
        <div>
            <h2 class="secondaryTitle bg-underlineNotes bg-100%">Notes</h2>
        </div>

        <div>
            @SearchBar()
        </div>

        // Cards
        <div id="notes-container" class="flex w-full flex-col md:grid md:grid-cols-2 2xl:grid-cols-3">
            // Create Note form/card
            @CreateNote()

            // Notes Grid
            <div id="notes-grid" class="contents">
                for _, note := range notes {
                    @NoteCard(note.ID, note.Title, note.Content)
                }
            </div>
        </div>
    </section>
}
