package views 

templ LoadingScreen() {
    <section class="h-dvh flex justify-center items-center bg-black">
        <div class="logo">
            <div class="andika">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
}