package views 

templ LoadingScreen() {
    <section id="loadingScreen" class="h-screen flex justify-center items-center bg-[#EFF6F6]">
        <div class="logo">
            @LogoOnly()
            <h3 id="logoH3" class="relative m-0 p-0 font-medium text-center uppercase text-black text-6xl tracking-[14px] overflow-hidden ">Andika</h3>
        </div>
    </section>
}

templ LogoOnly() {
    <div class="andika">
        <span></span>
        <span></span>
        <span></span>
    </div>
}