package views 

templ LoadingScreen() {
    <section class="h-screen flex justify-center items-center bg-black">
        <div class="logo">
            <div class="andika">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3 class="relative m-0 p-0 font-medium text-center uppercase text-white text-6xl tracking-[14px] overflow-hidden ">Andika</h3>
        </div>
    </section>
}