@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

/*fonts*/
:root {
    --font-ubuntu: "Ubuntu", sans-serif; 
}

/* Loading Screen */
.andika
{
  position: relative;
  width: 360px;
  height: 520px;
  overflow: hidden;
}

.andika span
{
  position: absolute;
  top: 0;
  width: 120px;
  height: 100%;
  background: #fff;
}
.andika span:nth-child(1)
{
  background: #B2D0EF;
  left: 0;
}
.andika span:nth-child(2)
{
  background: #D1E5FB;
  left: 0;
  z-index: 1;
  rotate: 90deg;
  transform: scaleY(1.1535);
  box-shadow: 0 0 40px #000000;
}
.andika span:nth-child(3)
{
  background: #B2D0EF;
  right: 0;
}